@model List<MobileDeviceManagement.Web.Models.Device>
<h2>Dispositivos</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>IMEI</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@device.Id</td>
                <td>@device.Model</td>
                <td>@device.IMEI</td>
                <td>@device.Status</td>
            </tr>
        }
    </tbody>
</table>
